{% extends 'base.html' %}

{% block content %}
<form method="POST" action={{ action }} class="form-horizontal">

<div class="control-group">
    <label class="control-label" for="Title">{{ form.title.label }}</label>

    <div class="controls">
        {{ form.title }}
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="Author">{{ form.author.label }}</label>

    <div class="controls">
        {{ form.author }}
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn">{% if submit_text %}{{ submit_text }}{% else %}Add{% endif %}</button>
    </div>
</div>
</form>
{% endblock %}